In [24]:
import pandas as pd

In [25]:
#data = pd.read_csv('DATAGAP/TSLA-GAP.csv')
data = pd.read_csv('DATAGAP/KULR-GAP.csv')

In [26]:
data.GAPSIZE.unique()

array([nan, 'Aggressive', 'Small', 'Extreme', 'Moderate', 'Large'],
      dtype=object)

In [27]:
data[data["GAPUP"] == True]

,Datetime,Close,High,Low,Open,Volume,Date,Prev_Day_Close,GAPUP,GAPPERCENT,GAPSIZE
780,2025-01-02 09:30:00,3.8150,3.87,3.81,3.86,2932549.0,2025-01-02,3.500,True,10.285711,Aggressive
1170,2025-01-03 09:30:00,3.0899,3.10,3.00,3.10,3455936.0,2025-01-03,3.055,True,1.472990,Small
1171,2025-01-03 09:30:00,3.0899,3.10,3.00,3.10,3455936.0,2025-01-03,3.055,True,1.472990,Small
1172,2025-01-03 09:30:00,3.0899,3.10,3.00,3.10,3455936.0,2025-01-03,3.055,True,1.472990,Small
2337,2025-01-06 09:30:00,3.6700,3.85,3.54,3.85,6300840.0,2025-01-06,3.295,True,16.843697,Aggressive
...,...,...,...,...,...,...,...,...,...,...,...
86529,2025-08-15 09:30:00,6.0500,6.30,6.01,6.22,1870161.0,2025-08-15,5.290,True,17.580337,Aggressive
88067,2025-08-19 09:30:00,5.3000,5.30,5.19,5.19,211068.0,2025-08-19,5.120,True,1.367191,Small
91338,2025-08-28 09:30:00,4.7800,4.80,4.76,4.77,37718.0,2025-08-28,4.730,True,0.845665,Small
91691,2025-08-29 09:30:00,4.8600,4.86,4.86,4.86,23321.0,2025-08-29,4.850,True,0.206190,Small
91692,2025-08-29 09:30:00,4.8600,4.86,4.86,4.86,23321.0,2025-08-29,4.850,True,0.206190,Small

In [28]:
data[data["GAPSIZE"] == "Large"]

,Datetime,Close,High,Low,Open,Volume,Date,Prev_Day_Close,GAPUP,GAPPERCENT,GAPSIZE
6621,2025-01-17 09:30:00,2.5300,2.6200,2.52,2.620,1861027.0,2025-01-17,2.460,True,6.504059,Large
6622,2025-01-17 09:30:00,2.5300,2.6200,2.52,2.620,1861027.0,2025-01-17,2.460,True,6.504059,Large
6623,2025-01-17 09:30:00,2.5300,2.6200,2.52,2.620,1861027.0,2025-01-17,2.460,True,6.504059,Large
6624,2025-01-17 09:30:00,2.5300,2.6200,2.52,2.620,1861027.0,2025-01-17,2.460,True,6.504059,Large
22582,2025-02-27 09:30:00,1.5490,1.5869,1.52,1.549,787760.0,2025-02-27,1.465,True,5.733788,Large
38138,2025-04-08 09:30:00,1.2399,1.2600,1.23,1.250,528513.0,2025-04-08,1.185,True,5.485237,Large
43950,2025-04-23 09:30:00,1.3065,1.3200,1.29,1.310,935466.0,2025-04-23,1.235,True,6.072869,Large
51283,2025-05-12 09:30:00,1.4550,1.4600,1.44,1.460,1251363.0,2025-05-12,1.365,True,6.959709,Large
72455,2025-07-08 09:30:00,6.7500,6.7900,6.72,6.750,357745.0,2025-07-08,6.420,True,5.140186,Large

In [29]:
data.iloc[72455-5:72455+5]  # Example to view rows around a specific index

,Datetime,Close,High,Low,Open,Volume,Date,Prev_Day_Close,GAPUP,GAPPERCENT,GAPSIZE
72450,2025-07-07 15:55:00,6.4050,6.4150,6.3938,6.3950,10007.0,2025-07-07,NaN,False,0.000000,NaN
72451,2025-07-07 15:56:00,6.4050,6.4100,6.4034,6.4099,3088.0,2025-07-07,NaN,False,0.000000,NaN
72452,2025-07-07 15:57:00,6.4100,6.4200,6.4050,6.4100,17680.0,2025-07-07,NaN,False,0.000000,NaN
72453,2025-07-07 15:58:00,6.4399,6.4399,6.4050,6.4150,15928.0,2025-07-07,NaN,False,0.000000,NaN
72454,2025-07-07 15:59:00,6.4200,6.4479,6.4200,6.4400,18036.0,2025-07-07,NaN,False,0.000000,NaN
72455,2025-07-08 09:30:00,6.7500,6.7900,6.7200,6.7500,357745.0,2025-07-08,6.42,True,5.140186,Large
72456,2025-07-08 09:31:00,6.8276,6.8500,6.7300,6.7300,32974.0,2025-07-08,NaN,False,0.000000,NaN
72457,2025-07-08 09:32:00,7.0500,7.1900,6.8600,6.8600,153794.0,2025-07-08,NaN,False,0.000000,NaN
72458,2025-07-08 09:33:00,7.2300,7.2600,7.1000,7.1200,81590.0,2025-07-08,NaN,False,0.000000,NaN
72459,2025-07-08 09:34:00,7.3700,7.4290,7.2624,7.2624,102345.0,2025-07-08,NaN,False,0.000000,NaN